#Inicio{
    margin-top: 65px;
    margin-left: 77%;
}
#Inicio img{
    width: 20px;
}

#sobremi{
    background-color: gray;
}
#yoimagen{
    margin-left: 37%;
    width: 27%;
}
.imagen2{
    margin-left: 26%;
}
#cualidades, #curriculum, #premios,#aptitudes,#contacto{
    margin-top: 5%;
}
#contacto> div{
    margin: 2%;
}